@{
    ViewData["Title"] = "Index";
}
@model CreateCategoryDTO
<div class="row ">
    <div class="col-md-8 ">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title ">Yeni Kategori Ekle</h3>
            </div>
            <form asp-action="CreateCategory" method="post">
                <div class="card-body">
                    <div>
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger "></span>
                    </div>
                    <div>
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger "></span>
                    </div>
                </div>
                <div class="card-footer" style="height:50px;">
                    <button type ="submit" class="btn btn-outline-success float-end">Kaydet</button>
                </div>
            </form>

        </div>
    </div>
</div>